
/* ---------------- BUTTONS ---------------- */
/*   ************ keep at top ************   */

button[class*='learn'] {
    border-style: solid;
    border-width: 3px;
    border-radius: 7.5px;
    width: 200px;
    height: 40px;
}
button.learn-blue {
    background-color: blue;
    color: white;
    border-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button.learn-white {
    background-color: white;
    color: black;
    border-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spanlrn {
   padding-left: 25%;
}

input[type="button"] {
    border-style: solid;
    border-width: 1.5px;
    border-radius: 7.5px;
    width: 75px;
    height: 30px;
    text-align: center;
    font-size: 12px;
}

.navbar > .buttons > .white-button {
    height: 36px;
    width: 100px;
}

.navbar > .buttons > .blue-button {
    height: 36px;
    width: 100px;
}

.white-button {
    border-color: blue;
    background: white;
    color: blue;
}

.footer .white-button {
    padding:10px;
    padding-left:20px;
    padding-right:20px;
}

.blue-button {
    border-color: blue;
    background: blue;
    color: white;
}

.green-button {
    border-color: blue;
    background-color: limegreen;
    color: white;
    border-radius: 5px;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    margin-right:30px;
}

.buttons > button {
    border-radius: 5px;
}

/* ---------------- CONTAINER ---------------- */
.container {
    display: grid; 
    grid-template-rows: auto; /* 0.5fr 5fr 7fr 2fr; */
    grid-template-columns: minmax(1fr,auto);
    grid-template-areas: 
      " navbar "
      " header "
      " main "
      " footer "; 
    justify-content: center;
}

/* ---------------- NAV BAR ---------------- */
.navbar {
    grid-area: navbar;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.navbar > .logo {
    display: flex;
    flex: 1;
}
.logo > img {
    max-width: 150px;
    width: 100%;
    height: auto;
}
.navbar > .navlinks {
    display: flex;
    flex: 5;
    justify-content: space-evenly;
}
.navlinks > a {    
    text-decoration: none;
    color: black;
    font-size: small;
    padding-left: 10px;
    padding-right: 10px;
}
.navbar > .buttons {
    display: flex;
    flex: 2;
    justify-content: space-around;
    margin-right: 10px;
}

/* ---------------- HEADER ---------------- */
.header {
    grid-area: header;
    display: flex;
    border-bottom: solid;
    border-bottom-width: thin;
    background-color: white;
    justify-content: center;
    padding: 30px;
}

.header > div {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
}

.head-box-1 {
    flex: 4;
}

.head-buttons {
    display: flex;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.head-buttons > .white-head-button {
    height: 60px;
    width: 200px;
    border-radius: 15px;
    border-color: blue;
    background: white;
    color: blue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.head-buttons > .blue-head-button {
    height: 60px;
    width: 200px;
    border-radius: 15px;
    border-color: blue;
    background: blue;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.existing-account * {
    color: dimgray;
    margin: 0px;
}

.free-manage-cancel {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.free-manage-cancel > span {
    color: blue;
    font-size: x-large;
}

.free-manage-cancel > img {
    max-height: 20px;
    height: 100%;
    width: auto;
}

.head-box-2 {
    flex: 3;
    display: flex;
    align-items: center;
}

.header-side-img {
    width: 100%;
    height: auto;
}

/* ---------------- MAIN ---------------- */
.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    background-color: white;
    grid-row-gap: 50px;
    margin-top: 20px;
}

/* ---------------- main head ---------------- */
.main-head {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-area: 
    " main-head-text "
    " main-head-boxes ";
    margin-top: 30px;
}

.main-head-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

.main-head-boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btntop {
    background-color: white;
    border-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    height: 160px;
    width: 140px;
    padding-top: 20px;
    transition-duration: 1s;
}

.btntop:hover {
    background-color: blue;
    color:white
}

/* ---------------- main center ---------------- */
.main-center-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "main-center-img main-center-text";
    justify-content: center;
}

.main-center-content > div {
    padding: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.main-center-img {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 80px;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-color: grey;
    border-width: thin;
}
.main-center-img > img {
    width: 100%;
    height: auto;
}

.main-center-text {
    grid-area: main-center-text;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: blue;
    color: white;
    margin-top: 60px;
    margin-bottom: 80px;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-color: grey;
    border-width: thin;
}

.main-center-text > * {
    color: #dfdede;
    margin-left: 20px;
    margin-right: 20px;
}

.main-center-text > ul {
    list-style-type: none;
}

 .main-center-text > p {
    margin-bottom: 0px; 
 }

ul > li:before {
    content: "-";
    content: '\2011';
}

/* ---------------- main end ---------------- */
.main-end-content {
    grid-area: main-end-content;
    grid-template-rows: 1fr 1fr;
    grid-area: 
    " main-end-header "
    " main-end-boxes ";
}
.main-end-header {
    text-align: center;
}
.main-end-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-area: 
    " main-end-box-email main-end-box-task "
    " main-end-box-analytics main-end-box-cal ";
    padding: 50px;
    row-gap: 50px;
    column-gap: 25%;
}

.main-end-boxes > div {
    display: grid;
    justify-items: center;
    text-align: center;
}

.imgonimg {
    position: relative;
    top: 0;
    bottom: 0;
    margin-top: 40px;
    margin-bottom: 20px;
}

.circle {
    position: relative;
    top: 0;
    bottom: 0;
}

.icon {
   position: absolute;
   top: 31%;
   right: 24%;
}


/* ---------------- FOOTER ---------------- */
.footer {
    grid-area: footer;
    background-color: blue;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 70px;
}

.footer > h3 {
    font-size: 16px;
}

.free-manage-cancel-footer {
    display: inline;
    justify-content: center;
    color: white;
    font-size: small;
}

